body {
    background-color: black
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#meuperfil{
   position: absolute;
    top: 250px;
   border-radius: 20px;
   margin-left: 80px;
}

.apresentacao{
    text-align: center;
}
.titulo{
    text-align: center;
}
.habilidades{
    align-items: center;
    ali: center;
}